/* Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;

  font-family: Roboto, sans-serif;
}

/* Header section */
ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  gap: 30px;
  margin-right: 230px;

  font-size: 18px;
  color: #e5e7eb;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #1f2937;
}

h1 {
  margin-left: 230px;
  margin-right: auto;

  font-size: 24px;
  color: #f9faf8;
}

/* Hero text section */
.hero {
  display: flex;
  padding: 50px 0;

  background-color: #1f2937;
}

.hero-text {
  margin-left: 230px;
  margin-right: 100px;
}

.hero-text h2 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-text button {
  cursor: pointer;
  padding: 8px 30px;
  border: 1px solid #3882f6;
  border-radius: 8px;

  font-size: 18px;
  color: #e5e7eb;
  font-weight: bold;
  background-color: #3882f6;
}

.hero-image {
  margin-right: 230px;
}


/* Some random information section */
.info {
  text-align: center;
  
  padding: 50px;
}

.info h2 {
  margin: 0;
  padding-bottom: 50px;

  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.container {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;

}

figure {
  max-width: 190px;
}

/* Quote section */
.quote {
  background-color: lightgreen;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote p {
  width: 1000px;
}

.quote-author {
  text-align: end;
}

/* Sign up button section */
.sign-up {
  background-color: lightblue;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Footer Section */
footer {
  background-color: lavender;
  text-align: center;
}

footer p {
  margin: 0;
}